doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/jquery/jquery.min.js')
		script(src='/javascripts/scripts.js')


		header


		body


		block content
